<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/product"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos de productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formProduct" (ngSubmit)="submit()">
    <ion-item>
      <ion-textarea
        [autoGrow]="true"
        label="Nombre"
        labelPlacement="floating"
        placeholder="Nombre"
        formControlName="name"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        label="Precio"
        labelPlacement="floating"
        placeholder="Precio"
        formControlName="price"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="formProduct.invalid">
      Guardar
    </ion-button>
  </form>
</ion-content>
