<ion-item class="selectable" (click)="setOpen(true)">
  @if(type() === TypeSelectable.INPUT) {

  <ion-input
    type="text"
    [label]="placeholder()"
    labelPlacement="floating"
    [placeholder]="placeholder()"
    [value]="labelSelected()"
  ></ion-input>
  } @else if(type() === TypeSelectable.TEXTAREA) {
  <ion-textarea
    [label]="placeholder()"
    labelPlacement="floating"
    [placeholder]="placeholder()"
    [value]="labelSelected()"
  ></ion-textarea>
  }
</ion-item>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Selecciona</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        placeholder="Buscar..."
      ></ion-searchbar>
    </ion-header>

    <ion-content>
      <ion-list>
        @for (item of filteredItems; track $index) {
        <ion-item class="selectable__item" (click)="selectItem(item)">
          <span class="selectable__item__text">
            {{ item[labelKey()] }}
          </span>
        </ion-item>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
