:host {
  display: block;
}

.selectable {
  cursor: pointer;
}
.selectable__item {
  &:hover {
    cursor: pointer;
    color: rgb(128, 128, 128);
  }

  cursor: pointer;

  &__text {
    padding: 10px 0;
  }
}
