<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input
            label="Usuario"
            labelPlacement="floating"
            placeholder="Usuario"
            formControlName="name"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            labelPlacement="floating"
            placeholder="Password"
            formControlName="password"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="login()" expand="block" type="submit">
        Acceso a la app
      </ion-button>
    </ion-row>
  </form>
</ion-content>
