<app-header-page title="Productos" />

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-button [routerLink]="['create']" expand="block">
        Nuevo Producto
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-input
          label="Buscar producto"
          labelPlacement="floating"
          placeholder="Buscar producto"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
